/*Reset default browser styles*/
body,
div,
header,
label,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-body {
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#gridBody {
  height: 100%;
  min-width: 80%;

  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  justify-content: space-around;
  align-content: space-around;
}

#header {
  grid-column-start: 1;
  grid-column-end: -1;
  align-self: center;
  justify-self: center;

  height: 100%;
  width: 100%;

  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr;
  align-items: center;
  justify-items: center;
}

#tittle {
  font-size: 4rem;
}

#inputDiv {
  width: 100%;
  display: grid;
  text-align: center;
  grid-template: 1fr / 0.5fr 1.2fr 0.5fr;
  gap: 2px;
}

#locationLabel {
  width: 200px;
}

#generalInformation {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
}

#weatherNow {
  grid-row-start: 2;
  grid-row-end: -1;

  display: grid;
  grid-template: repeat(5, 1fr) / 1fr 1fr;
  padding: 5%;
  align-content: space-around;
  justify-content: space-around;
}

#weatherNowHeader {
  grid-column-start: 1;
  grid-column-end: -1;

  display: grid;
  align-content: center;
  justify-content: space-around;
}

#weatherLater {
  grid-row-start: 2;
  grid-row-end: -1;

  display: grid;
  grid-template: repeat(5, 1fr) / 1fr 1fr;
  padding: 5%;
  align-content: space-around;
  justify-content: space-around;
}

#weatherLaterHeader {
  grid-column-start: 1;
  grid-column-end: -1;

  display: grid;
  align-content: center;
  justify-content: space-around;
}

#weatherAfter {
  grid-row-start: 2;
  grid-row-end: -1;

  display: grid;
  grid-template: repeat(5, 1fr) / 1fr 1fr;
  padding: 5%;
  align-content: space-around;
  justify-content: space-around;
}

#weatherAfterHeader {
  grid-column-start: 1;
  grid-column-end: -1;

  display: grid;
  align-content: center;
  justify-content: space-around;
}
